section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 0px;
}

.todo-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    font-size: 1.5em;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    color: #aaa;
}

li button {
    background-color: transparent;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

li button.complete-btn {
    color: #28a745;
}

li button.delete-btn {
    color: #dc3545;
}

li button.complete-btn:hover {
    color: #ffffff;
}

li button.delete-btn:hover {
    color: #c82333;
}

.bcg2{
    padding: 8px 16px;
    background-color: white;
    border-radius: 25px;
    color: rgb(0, 0, 91);
    font-weight: 800;
}